[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.20"
djangorestframework = "*"
pygments = "*"
coreapi = "*"
pyyaml = "*"
coreapi-cli = "*"
django-cors-headers = "*"
pillow = "*"
django-filter = "*"

[requires]
python_version = "3.7"
